
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPoliticLabel">Create or edit a Politic</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.politic.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.politic.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.politic.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codenames">Codenames</label>
            <input type="text" class="form-control" name="codenames" id="field_codenames"
                    ng-model="vm.politic.codenames"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.politic.state"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                    ng-model="vm.politic.city"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_born">Born</label>
                <div class="input-group">
                    <input id="field_born" type="text" class="form-control" name="born" uib-datepicker-popup="{{dateformat}}" ng-model="vm.politic.born" is-open="vm.datePickerOpenStatus.born"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('born')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.politic.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_photo">Photo</label>
            <input type="text" class="form-control" name="photo" id="field_photo"
                    ng-model="vm.politic.photo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_parties">Parties</label>
            <input type="text" class="form-control" name="parties" id="field_parties"
                    ng-model="vm.politic.parties"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_positions">Positions</label>
            <input type="text" class="form-control" name="positions" id="field_positions"
                    ng-model="vm.politic.positions"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_urls">Urls</label>
            <input type="text" class="form-control" name="urls" id="field_urls"
                    ng-model="vm.politic.urls"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_legislatures">Legislatures</label>
            <input type="text" class="form-control" name="legislatures" id="field_legislatures"
                    ng-model="vm.politic.legislatures"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_history">History</label>
            <input type="text" class="form-control" name="history" id="field_history"
                    ng-model="vm.politic.history"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.politic.created" is-open="vm.datePickerOpenStatus.created"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updated">Updated</label>
                <div class="input-group">
                    <input id="field_updated" type="text" class="form-control" name="updated" datetime-picker="{{dateformat}}" ng-model="vm.politic.updated" is-open="vm.datePickerOpenStatus.updated"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updated')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
